<div class="form-group">
    <hr>
    <div *ngIf="htmlYouWantToAdd" [innerHTML]="htmlYouWantToAdd"></div>
    <!--Calls artists.component.ts which then calls service -->

    <!-- Logo Div -->
    <div class="logoDiv">
        <img class="logoPic" src='https://i.imgur.com/inXRmvI.png'>
    </div>
    <!-- Search Box Div -->
    <div *ngIf = "!searchDone" class="searchBoxDiv">
        <br>
        <!-- Genre Input Field-->
        <div class="form-group">
            <label for="genre">Enter Desired Genre:</label>
            <input #genreInput type="text" id="genre" name="genre" placeholder="Genre" [(ngModel)]="genre" class="searchInputs form-control">
        </div>
        <br>
        <!-- Year Input Fieldr-->
        <div class="form-group">
            <label for="year">Enter Desied Year:</label>
            <input #yearInput type="text" id="year" name="year" placeholder="Year"  [(ngModel)]="year" class="searchInputs form-control">
        </div>
        <br>
        <!-- Silder bar taken from w3Schools, Bootsrap styling adds extra white space either side but looks better with it 
            unsure if a fix available or just remove bootstrap, same again with ng-model-->
        <div class="slidecontainer form-group">
            <label for="myRange">Obscurity:</label>
            <!-- After adding an ng-model beginning value is 51, no idea why -->
            <input #obscurityInput type="range" min="1" max="100" value="0" class="slider form-control" [(ngModel)]="obscurity" id="myRange">
            <!-- <p style="padding-top: 10px;">Obscurity Selected: {{obscurityInput.value}}    (Just for testing remove later)</p> -->
        </div>
        <br>
        <div class="searchBoxButtonDiv">
            <button class="btn btn-primary greenButton viewMore" (click)="search()">Search</button>
        </div>
        <br>
    </div>
    <!-- Search again button, re opens search box, only visible when search box is hidden -->
    <div *ngIf = "searchDone" style="margin: auto !important; text-align: center;"> 
        <button class="btn btn-primary greenButton viewMore" (click)="searchPopUp()">New Search?</button>
    </div>
    <br>
    <br>
    <!-- Results Div-->
    <div class="table-responsive tableArtistDiv">
        <div class="artistList" *ngFor="let i of artistList2; let x = index" >
            <div class="artistImageTitle" *ngFor="let j of artistList2[x]">
                <a [href] = j.external_urls.spotify target="_blank">
                    <img [src] = "j.images.length > 0 ? j.images[0].url : 'http://i.imgur.com/nszu54A.jpg' " [title]=j.name alt="" class="artistImage">
                </a>
                <div [innerHTML] = "j.name" class="artistImageArtistName"></div>
            </div>
        </div>
    </div>
    <!-- Button to show up more results -->
    <div *ngIf = "searchDone" class="viewMoreDiv">
        <button type="button" class="btn btn-primary viewMore" (click)="viewMore()">Placeholder but forever</button>
    </div>
</div>