    /* Album Cover Image size */
.artistImage{
    width: 250px !important;
    height: 250px !important;
}

.entireDiv {
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic, spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,
        Meiryo,MS Gothic,sans-serif; 
    background: rgba(0,0,0,0);
}

/* Artist Names under cover photo */
.artistImageArtistName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #191414;
    color: white;
    border-radius:42px;
    text-decoration:none;
    border: none;
    max-width: 250px;
    text-align: center;


} 

.artistImageArtistName.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.artistImageArtistName:hover {
    background-color: #1DB954;
}

/*Show more results button*/
.viewMore {
    background-color:#1DB954;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:12px 43px;
    text-decoration:none;
    font-weight: 600;
    border: none;
}

/*Div containing view more button*/
.viewMoreDiv {
    text-align: center;
}

/*Div wrapping results table*/
.tableArtistDiv {
    margin: auto;
    overflow: hidden;
    padding-left: 3%; 
    padding-right: 3%;
}

.artistList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2.5px;
    align-self: stretch;
    justify-self: stretch;
    align-content: space-evenly;
    justify-content: space-evenly;
    
}

/*Artist name under photo*/
.artistImageTitle {
    grid-template-rows: 250px auto;
    padding: 10px;
    padding-bottom: 20px;
    text-align: center;
}

/*All stylying for obscure slider*/
.slidecontainer {
    width: 100%;
}

.slider {
    padding: 0px !important;
    margin: auto;
    width: 60%;
    -webkit-appearance: none;
    height: 5px;
    border-radius: 5px;
    background: #ffffff;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    border-color: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    border-color: #4CAF50;
    cursor: pointer;
}

/*Search box div*/
.searchBoxDiv {
    border: #4CAF50;
    border-style: solid;
    border-radius: 10px;
    margin: auto !important;
    width: 40% !important;
    text-align: center;
}

/*Genre,Year,Obscure Inputs*/
.searchInputs {
    width: 60%;
    margin: auto;
}

.searchBoxButtonDiv {
    margin: auto !important;
}

.greenButton {
    background-color: #1DB954;
    border-color: #1DB954;
}

/*Div wrapping logo*/
.logoDiv {
    margin: auto !important;
    width: 50% !important;
    text-align: center;
}

.logoPic {
    width: 50%;
    height: 50%;
}