<body style="background: rgba(0,0,0,0);">
    <div class="content1">
        <img class = "qm1" src="../assets/QM.png">
    </div>
    
    <div class="content2">
        <img class = "qm2" src="../assets/QM.png">
    </div>

    <div class="content3">
        <img class = "qm3" src="../assets/QM.png">
    </div>

    <div class="content4">
        <img class = "qm4" src="../assets/QM.png">
    </div>

    <div class="content5">
        <img class = "qm5" src="../assets/QM.png">
    </div>

    <div class="content6">
        <img class = "qm6" src="../assets/QM.png">
    </div>

    <div class="content7">
        <img class = "qm7" src="../assets/QM.png">
    </div>

    <div class="content8">
        <img class = "qm8" src="../assets/QM.png">
    </div>

    <div class="content9">
        <img class = "qm9" src="../assets/QM.png">
    </div>

    <div class="content10">
        <img class = "qm10" src="../assets/QM.png">
    </div>
    <pm-auth></pm-auth>
    <pm-artist></pm-artist>
    <pm-album></pm-album>
</body>