<html>
    <body style="background: rgba(0,0,0,0);">
        <div *ngIf ="userInfo != null" style="text-align: right; padding-top: 1%; padding-right: 1%;"  >
            <a style = "position: relative;" (click) = "toggleLougoutPopUp()">Welcome {{userInfo.display_name.split(" ")[0]}}
                <div style = "position: absolute; right: 0px; top: 25px;" [hidden] = "!clicked">
                    <button (click) = "logOut()" class = "btn btn-primary greenButton viewMore">Logout</button>
                </div> 
            </a>
            
        </div>
        <div *ngIf = "userInfo == null" style="text-align: right; padding-top: 1%; padding-right: 1%;" >
            <button class = "btn btn-primary greenButton viewMore" (click) = "Authorize()">Log in</button>
        </div>
    </body>

    <pm-artist [loggedIn] = "userInfo != null"></pm-artist>
</html>